/(Interdisciplinary Applied Mathematics, Volume 26) Yi Ma, Stefano Soatto, Jana Kosecká, S. Shankar Sastry - An Invitation to 3-D Vision_ From Images to Geometric Models-Springer (2010).pdf
/Exercise01/.idea/.name
/2004_Book_AnInvitationTo3-DVision.pdf
/Andrew Koenig, Barbara E. Moo - Accelerated C++ Practical Programming by Example    -Addison-Wesley (2000).pdf
/Exercise01/.idea/Exercise01.iml
/Exercise01/.idea/misc.xml
/Exercise01/.idea/modules.xml
/stereoanalyse-und-bildsynthese-2005.pdf
/Exercise01/.idea/vcs.xml
/Exercise01/.idea/workspace.xml
/Exercise04/cmake-build-debug/
